<script lang="ts">
	import { loading } from '$lib/stores';
	import { navigating } from '$app/stores';
	import LinearProgress from '@smui/linear-progress';
	import TopAppBar, { Row, Section, Title } from '@smui/top-app-bar';
	// PWA
	import { pwaInfo } from 'virtual:pwa-info';
	import PwaAssetsHeader from '$lib/PwaAssetsHeader.svelte';

	//@ts-ignore
	const appName = `设备定位 v${__APP_VERSION__}`;

	$: webManifestLink = pwaInfo ? pwaInfo.webManifest.linkTag : '';
</script>

<!--PWA-->
<svelte:head>
	<title>{appName}</title>
	{@html webManifestLink}
</svelte:head>

<PwaAssetsHeader />

<TopAppBar variant="static">
	<Row>
		<Section>
			<Title>{appName}</Title>
		</Section>
		<Section align="end"><!--TODO: Theme icon--></Section>
	</Row>
</TopAppBar>

{#if $navigating || $loading}
	<LinearProgress indeterminate />
{/if}

<slot />

{#await import('$lib/PwaReloadPrompt.svelte') then { default: ReloadPrompt }}
	<ReloadPrompt />
{/await}
