<script lang="ts">
	import LayoutGrid, { Cell } from '@smui/layout-grid';
	import Textfield from '@smui/textfield';
	import Icon from '@smui/textfield/icon';
	import HelperText from '@smui/textfield/helper-text';
	//import Fab, { Label } from '@smui/fab';
	import { onMount } from 'svelte';

	import { type DevObj } from '$lib/code-db';
	import { cdb, loading } from '$lib/stores';
	import ResultsTable from './ResultsTable.svelte';
	import DataSheetStatus from './DataSheetStatus.svelte';
	import ProjectStatus from './ProjectStatus.svelte';
	import DataSheetSelector from './DataSheetSelector.svelte';

	function search() {
		isSearching = true;
		if (searchText != '') {
			resultData = $cdb.search(searchText);
		}
		isSearching = false;
	}

	let resultData: DevObj[] = [];
	let searchText: string = '';
	let isSearching = false;
</script>

<LayoutGrid>
	<!--Select-->
	<Cell span={6}>
		<DataSheetSelector />
	</Cell>
	<Cell span={6}>
		<DataSheetStatus />
	</Cell>

	<!--Search-->
	<Cell span={6}>
		<Textfield
			style="width: 100%;"
			helperLine$style="width: 100%;"
			variant="outlined"
			disabled={$loading}
			bind:value={searchText}
			on:input={search}
			label="查询"
		>
			<Icon class="material-icons" slot="leadingIcon">manage_search</Icon>
			<HelperText slot="helper">输入九位码、房间号、甚至某些房间或设备的中文名称</HelperText>
		</Textfield>
	</Cell>
	{#if resultData.length != 0 && searchText !== ''}
		<Cell span={6}>
			<ResultsTable data={resultData} loaded={!isSearching} />
		</Cell>
	{/if}
	<!--COPYRIGHT-->
	<Cell span={12} align="middle">
		<ProjectStatus />
	</Cell>
</LayoutGrid>
