<script lang="ts">
	//import LayoutGrid, { Cell } from '@smui/layout-grid';
	import { cdb, loading } from '$lib/stores';
	import Button, { Label, Icon } from '@smui/button';

	// realtime monit cdb.data.length using $loading
	let total: number = 0;
	$: {
		if (!$loading) {
			total = $cdb.data.length;
		}
	}
</script>

<div>
	{#if $loading}
		<p>正在加载...</p>
	{/if}
	{#if total > 0}
		已加载：{total}
		<Button href="/wizard">
			<Icon class="material-icons">assistant_direction</Icon>
			<Label>设备定位向导</Label>
		</Button>
	{:else}
		<p>加载未完成： {total}</p>
		<!--TODO: Add refresh btn using location.reload()-->
	{/if}
</div>
