<script lang="ts">
	import { CodeDB } from '$lib/code-db';
	import { cdb, loading } from '$lib/stores';
	import Select, { Option } from '@smui/select';
	import Icon from '@smui/select/icon';

	type dsObj = {
		friendlyName: string;
		dsLink: string;
		default: boolean;
	};
	const dsList: Array<dsObj> = [
		{ friendlyName: '电气', dsLink: '/code-sheet/code-sheet-lx.csv', default: true },
		{ friendlyName: '网控', dsLink: '/code-sheet/code-sheet-tc.csv', default: false },
		{ friendlyName: '外围', dsLink: '/code-sheet/code-sheet-bop.csv', default: false }
	];
	/* Select default by Arrary index */
	let select: number = 0;

	/* DUP default logic.
	for (const i of dsList) {
		if (i.default) {
			select = i;
			break;
		}
	} 
*/
	async function loadSelectCDB() {
		$loading = true;
		await $cdb.load();
		$loading = false;
	}
	$: {
		const newLink = dsList[select].dsLink;
		if ($cdb.csvlink !== newLink) {
			$cdb = new CodeDB(newLink);
			loadSelectCDB();
		}
	}
</script>

<Select
	variant="outlined"
	label="岗位"
	disabled={$loading}
	bind:value={select}
	key={(i) => String(i)}
>
	<Icon class="material-icons" slot="leadingIcon">factory</Icon>
	{#each dsList as ds, i (ds.friendlyName)}
		<Option value={i}>{ds.friendlyName}</Option>
	{/each}
</Select>
