<script lang="ts">
	import Button, { Label, Icon } from '@smui/button';
</script>

<div class="box">
	<Button href="https://gitlab.com/zxca22/device-location-helper/-/tree/main/static/code-sheet" target="_blank">
		<Icon class="material-icons">file_open</Icon>
		<Label>贡献数据表csv</Label>
		<Icon class="material-icons">open_in_new</Icon>
	</Button>
	<Button href="https://gitlab.com/zxca22/device-location-helper" target="_blank">
		<Label>
			<img
				alt="GitLab Last Commit"
				src="https://img.shields.io/gitlab/last-commit/zxca22%2Fdevice-location-helper?logo=gitlab"
			/>
		</Label>
		<Icon class="material-icons">open_in_new</Icon>
	</Button>
	<Button href="https://app.netlify.com/sites/dl-h/deploys" target="_blank">
		<Label>
			<img
				src="https://api.netlify.com/api/v1/badges/ef562720-7084-45fb-90a1-58465202296d/deploy-status"
				alt="Netlify
            Status"
			/>
		</Label>
		<Icon class="material-icons">open_in_new</Icon>
	</Button>
	<div>
		<img
			alt="GitLab License"
			src="https://img.shields.io/gitlab/license/zxca22%2Fdevice-location-helper?style=flat&logo=gnu"
		/>
	</div>
</div>

<style>
	.box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	img {
		vertical-align: middle;
	}
</style>
