<script lang="ts">
	import DataTable, { Head, Body, Row, Cell } from '@smui/data-table';
	import LinearProgress from '@smui/linear-progress';

	import type { DevObj } from '$lib/code-db';

	export let loaded = false;
	export let data: DevObj[] = [];
</script>

<DataTable table$aria-label="结果列表" style="width: 100%;">
	<Head>
		<Row>
			<Cell numeric>ID</Cell>
			<Cell>九位码</Cell>
			<Cell style="width: 100%;">位置说明</Cell>
			<Cell>厂房中文名</Cell>
			<Cell>备注</Cell>
		</Row>
	</Head>
	<Body>
		{#each data as item (item.code9)}
			<Row>
				<Cell numeric>{item.id}</Cell>
				<Cell>{item.code9}</Cell>
				<Cell>{item.comment}</Cell>
				<Cell>{item.plantZhName}</Cell>
				<Cell>{item.devZhName}</Cell>
			</Row>
		{/each}
	</Body>

	<LinearProgress
		indeterminate
		bind:closed={loaded}
		aria-label="Data is being loaded..."
		slot="progress"
	/>
</DataTable>
