<script lang="ts">
	import Tab, { Icon, Label } from '@smui/tab';
	import TabBar from '@smui/tab-bar';
	import Button from '@smui/button';
	import Paper, { Content } from '@smui/paper';
	import CodeNameInput from './CodeNameInput.svelte';
	import DataSheetSelector from '../DataSheetSelector.svelte';

	const tabList = [
		{
			icon: 'edit_square',
			label: '1. 输入九位码'
		},
		{
			icon: 'checklist',
			label: '2. 生成代办清单'
		}
	];
	let active = tabList[0];
</script>

<TabBar tabs={tabList} let:tab bind:active>
	<Tab {tab}>
		<Icon class="material-icons">{tab.icon}</Icon>
		<Label>{tab.label}</Label>
	</Tab>
</TabBar>

{#if active === tabList[0]}
	<!--Step1: Input 9 code-->
	<div style="padding: 24px;"><DataSheetSelector /></div>
	<CodeNameInput />
{:else if active === tabList[1]}
	<!--Step2: edit search result-->
	<p>此功能正在开发中...</p>
	<!--
{:else if active === tabList[2]}
	<p>3</p>
-->
{/if}
