<script lang="ts">
	import Paper, { Content, Title } from '@smui/paper';
	import Button, { Label, Icon } from '@smui/button';
	import Textfield from '@smui/textfield';
	import HelperText from '@smui/textfield/helper-text';
	import LinearProgress from '@smui/linear-progress';

	import { cdb, loading, tsocrProgress } from '$lib/stores';
	import { type DevObj } from '$lib/code-db';
	import ResultsTable from '../ResultsTable.svelte';
	import { get9CodeArray, searchCdbByArray, getErrorResult, TsOCR } from '$lib/wizard';

	let tFiles: FileList | null = null;
	let ncValue = '';
	let inputElement: HTMLElement;
	let resultTableData: DevObj[] = [];
	let queryErrorInfo = '';
	let waiting = false;
	const tsocr = new TsOCR();
	let tsocrReady = false;

	async function tsocrInit() {
		tsocrReady = false;
		await tsocr.init();
		tsocrReady = true;
	}

	async function tsocrRez() {
		tsocrProgress.set(0);
		waiting = true;
		tsocrReady = false;
		if (tFiles) {
			// TODO: Error handling.
			ncValue = await tsocr.recognize(tFiles[0]);
		}
		tsocrReady = true;
		waiting = false;
	}

	async function query() {
		waiting = true;
		const c9array = await get9CodeArray(ncValue);
		const queryResult = await searchCdbByArray(c9array, $cdb);
		const errorResult = await getErrorResult(queryResult);
		// TODO: Error handling.
		queryErrorInfo = '';
		if (errorResult.length > 0) {
			for (const i of errorResult) {
				queryErrorInfo = queryErrorInfo + '; ' + i.searchText;
			}
		}
		const rtd = [];
		if (queryResult.length > 0) {
			for (const i of queryResult) {
				if (i.result[0]) {
					rtd.push(i.result[0]);
				}
			}
		}
		resultTableData = rtd;
		waiting = false;
	}
</script>

<div class="fbox">
	<Paper>
		<Title>OCR</Title>
		<Content>
			<LinearProgress indeterminate closed={tsocrReady} />
			{#await tsocrInit()}
				<p>
					<Icon class="material-icons">hourglass_empty</Icon>
					Tesseract.js 加载中...
				</p>
			{:then}
				<p>
					<Icon class="material-icons">check_circle</Icon>
					Tesseract.js 加载完成
				</p>
			{:catch error}
				<p>
					<Icon class="material-icons">error</Icon>
					Tesseract.js 加载失败
				</p>
				<p>{error}</p>
			{/await}
		</Content>
		<Content>
			<input
				style="display: none;"
				type="file"
				accept="image/*"
				bind:files={tFiles}
				bind:this={inputElement}
			/>
			{#if tsocrReady}
				<Button variant="raised" on:click={() => inputElement.click()} disabled={waiting}>
					<Icon class="material-icons">image_search</Icon>
					<Label>选择照片</Label>
				</Button>
			{/if}

			{#if tFiles?.length === 1}
				<p>照片预览：</p>
				<div>
					<img style="max-width: 300px;" src={URL.createObjectURL(tFiles[0])} alt="图像预览" />
				</div>
				<Button variant="raised" on:click={tsocrRez} disabled={waiting}>
					<Icon class="material-icons">image_search</Icon>
					<Label>执行OCR</Label>
				</Button>
				{#if $tsocrProgress > 0 && $tsocrProgress < 1}
					正在识别...{($tsocrProgress * 100).toFixed(2)}%
				{/if}
				<LinearProgress progress={$tsocrProgress} closed={tsocrReady} />
			{/if}
		</Content>
		<Content>
			OCR识别功能由
			<a href="https://github.com/naptha/tesseract.js" target="_blank">Tesseract.js</a>
			在浏览器本地完成，不会也不需要上传任何数据至服务器。
		</Content>
		<Content>OCR识别结果将会覆盖下方文本框中的内容。</Content>
	</Paper>

	<Paper style="flex: auto;">
		<Title>手动编辑九位码</Title>
		<Content>
			<Textfield
				bind:value={ncValue}
				label="已提取的九位码"
				textarea
				style="width: 100%;"
				helperLine$style="width: 100%;"
				input$rows={10}
			>
				<HelperText slot="helper">请检查九位码是否正确</HelperText>
			</Textfield>
		</Content>
		<Content>
			<Button variant="raised" disabled={ncValue === '' || waiting} on:click={query}>
				<Icon class="material-icons">search</Icon>
				<Label>开始查询</Label>
			</Button>
		</Content>
	</Paper>

	{#if queryErrorInfo}
		<Paper>
			<Title>错误处理</Title>
			<Content>下列九位码需要人工介入</Content>
			<Content>{queryErrorInfo}</Content>
		</Paper>
	{/if}
</div>

{#if resultTableData.length > 0}
	<Paper>
		<Title>查询结果</Title>
		<Content>包含每个九位码的第一个搜索结果</Content>
		<Content>
			<ResultsTable data={resultTableData} loaded={true} />
		</Content>
	</Paper>
{/if}

<style>
	:global(.fbox) {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 1rem;
		padding: 24px;
	}

	/* 	.hide-file-ui :global(input[type='file']::file-selector-button) {
		display: none;
	}

	.hide-file-ui :global(:not(.mdc-text-field--label-floating) input[type='file']) {
		color: transparent;
	}
 */
</style>
